@media (max-width: 992px) {
  /* Mostrar el toggle checkbox pero oculto visualmente */
  #menu-toggle {
    display: none;
  }

  .navbar {
    gap: 10px;
  }

  .menu-label img {
    width: 30px;
    height: auto;
  }

  /* Menú oculto por defecto */
  .navbar-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 45px 30px;
    z-index: 9;
    gap: 25px;
  }

  /* Cuando el checkbox menu-toggle está chequeado, mostrar menú */
  #menu-toggle:checked ~ .navbar .navbar-list {
    display: flex;
  }

  /* Carrito visible siempre en escritorio */
  .cart-icon {
    display: flex;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
    height: 33px;
    margin-right: 0rem;
    margin-top: 4px;
  }

  /* El carrito se oculta por defecto */
  .cart {
    display: none;
  }

  /* Cuando checkbox carrito está chequeado, mostrar carrito */
  #cart-toggle:checked ~ .cart {
    display: flex;
  }

  .hero-info {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .hero-info h1 {
    width: 90%;
    max-width: 500%;
    min-width: unset;
  }

  .hero-info p {
    width: 60%;
    max-width: 600px;
  }

  .hero-card {
    display: none;
  }

  #info h2 {
    text-align: center;
    width: 80%;
  }

  .info-cards-container {
    width: 80%;
  }

  #product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #product-container h2 {
    width: 80%;
    text-align: center;
  }

  .services {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .selection-services {
    flex-direction: column;
  }

  .selection-services img {
    width: 100%;
  }

  .categories {
    flex-wrap: wrap;
    max-width: 390px;
  }

  .category {
    width: 120px;
  }
}

@media (max-width: 576px) {
  /* Ajustes para móvil */

  .cart {
    width: 100%;
    right: 0;
    top: 60px;
    max-height: 60vh;
  }

  .navbar ul {
    background: var(--secondary-color);
    width: 100%;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar i {
    display: block;
  }

  #menu-toggle:checked ~ .navbar-list {
    display: flex;
  }

  #cart-toggle:checked ~ .cart {
    display: flex;
  }

  /* hero */

  .hero-info p {
    width: 70%;
    max-width: unset;
  }
  /* info */
  .info-card {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .info-card p {
    width: 90%;
  }

  #product-container {
    width: 100%;
  }

  #discover h2 {
    font-size: 37px;
    width: 100%;
    text-align: center;
  }

  .discover-text {
    width: 100%;
    padding: 10px;
    line-height: 30px;
    gap: 50px;
  }

  .discover-text a {
    font-size: 20px;
  }

  .services {
    gap: 20px;
  }

  .services img {
    width: 100%;
  }
}
