:root {
  --primary-color: #483858;
  --secondary-color: #341736;
  --text-color: #26122b;
  --background-color: #342840;
  --text-button-color: #7447a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel Decorative", serif;
  text-decoration: none;
  list-style-type: none;
}

header {
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  height: 123%;
}

.navbar .navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 70px;
}

.navbar-list a {
  color: #483858;
  font-size: 14px;
}

.navbar-list li:first-child a {
  color: #483858;
  font-weight: 100;
}

.cart-icon {
  font-weight: 600;
  border-radius: 10px;
  height: 24px;
  padding: 0;
  margin-right: 0;
  color: var(--text-color);
  cursor: pointer;
}

.main {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  width: 100%;
}

/* section hero */

#hero {
  margin-top: 65px;
  padding: 70px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: var(--text-color);
}

.hero-info p {
  font-size: 25px;
  width: 70%;
  color: var(--text-color);
}

.hero-info a {
  color: var(--text-button-color);
  width: 120px;
  padding: 10px 0px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  background: var(--text-color);
}

.hero-card {
  width: 300px;
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* section about */

#info{
  background-color: var(--background-color);
  padding: 70px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  
}

#info h2{
  font-size: 32px;
  font-weight: 800;
  color: var(--text-color);
}

.info-cards-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card{
  width: 190px;
  height: 350px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
  align-items: center;
  gap: 20px;
}

.info-card img {
  width: 80px; 
}

.info-card h3 {
  font-size: 15px;
  font-weight: 600;
  
}

.info-card p {
  font-size: 10px;
  text-align: center;
}

